# name of the workflow
name: Create Trello Card on Action

# Events to be triggered
on:
    # Trigger on push, pull request, and create events
  push:
   branches:
     - main
  pull_request: 
  create:

# Jobs to be executed
jobs:
  create_trello_card:
    # The type of OS server to run the job on
    runs-on: ubuntu-latest
    # Steps to be executed in the job
    steps:
      - name: Create Trello Card
      # the script to create a Trello card using Trello API
        run: |
            curl -X POST "https://api.trello.com/1/cards" \
            -d "name=Code Update Applied" \
            # Add commit message, author, repository, and commit URL to the card description and added %0A%0A for line breaks
            -d "desc=${{ github.event.head_commit.message }}%0A%0AAuthor: ${{ github.actor }}%0ARepo: ${{ github.repository }}%0AView Commit: ${{ github.event.head_commit.url }}" \
            -d "idList=${{ secrets.TRELLO_LIST_ID }}" \
            -d "key=${{ secrets.TRELLO_API_KEY }}" \
            -d "token=${{ secrets.TRELLO_API_TOKEN }}"
      